
.box {
    padding: 2rem 2rem 20px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: #ffffff;
  }
  
  .mailtypes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .mailtype {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
  }
  
  .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
  }
  
  .df {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .input-field {
    width: 100%;
    color: #3f3f3f;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border: 1px solid #dbdbdb;
    border-radius: 40px;
    padding: 10px 1rem;
  }
  
  .input-field::placeholder {
    color: #c3c3c3;
  }
  
  .add {
    cursor: pointer;
    color: #28a745;
    font-size: 13px;
    font-weight: 600;
    background-color: #67b32e26;
    padding: 10px;
    border-radius: 40px;
  }
  
  .list {
    max-height: 80px;
    overflow-y: auto;
  }
  
  .mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .send {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    border-radius: 40px;
    background-color: #28a745;
    padding: 10px;
  }
  
  .send:hover {
    background-color: #218838;
  }
  