.background {
    position: relative;
    width: 1920px;
    height: 3123px;
    background: #FFFFFF;

}

.background .heading {
    width: 1920px;
    height: 100px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #F2F2F2
}

.background .heading .titlepage {
    position: absolute;
    width: 219px;
    height: 33.55px;
    left: 251px;
    top: 30px;
}

.background .heading .title {
    position: absolute;
    width: 175px;
    height: 27px;
    left: 610px;
    top: 35px;
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #979797;
}

.background .heading .arrow1 {

    position: absolute;
    left: 835px;
    top: 35px;

}

.background .heading .arrow2 {

    position: absolute;
    left: 890px;
    top: 35px;

}

.background .heading .search {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;

    position: absolute;
    width: 391px;
    height: 44px;
    left: calc(50% - 391px/2 + 240.5px);
    top: 28px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 48px;


}

.background .heading .search .pesquisa{
    font-family: Instrument Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.52px;
    text-align: left;
    color: #C3C3C3;
}



.background .banner {

    position: absolute;
    width: 1920px;
    height: 915px;
    left: 0px;
    top: 100px;
    background: url(../../img/SeasonFlow_banner.jpg), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;

}

.background .calendar {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 50%;
    margin-left: 300px;
}
.background .calendar .week_days {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
    padding: 15px;
    border-radius: 15px ;
    background: white;
    margin-top: 910px;
}
.background .calendar .week_days p {
    flex: 1 1 calc(12% - 5px);
    text-align: center;
}
.background .calendar .days {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin-top: 10px;
}
.background .calendar .days .container_day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(12.05% - 2px);
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f7f7;
    aspect-ratio: 1 / 1;
    transition: .05s ease-in-out;
    border: 1px solid transparent

}
.background .calendar .days .container_day:hover {
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
}
.background .calendar .days .container_day .list_container {
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
    max-height: 90px;
    flex-wrap: wrap;
    overflow-x: auto;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
}
.background .calendar .days .container_day .list_container::-webkit-scrollbar{
    background-color: #bababa00;
    width: 1px;
    display: none;
  }
  .background .calendar .days .container_day .list_container::-webkit-scrollbar-thumb{
    display: none;
  }
  .background .calendar .days .container_day .tags_container {
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
.background .calendar .days .container_day .tags_container  .tags_dates {
    font-size: 13px;
    padding: 3px 10px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}
.background .calendar .days .container_day .tags_container .tag_description {
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 0px 8px 8px 8px;
    font-size: 14px;
    animation-name: animation;
    animation-duration: .15s;
    animation-timing-function: ease-in;
    z-index: 5;
}

.background .ads1 {

position: absolute;
width: 186px;
height: 1595px;
left: 32px;
top: 1131px;
}

.background .ads1 .ban1{
/* Frame 194 */

position: absolute;
width: 186px;
height: 957px;
left: 0px;
top: -114px;

}
.background .ads1 .ban1 .part1{

position: absolute;
width: 186px;
height: 469px;
left: 0px;
top: 488px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
}
.background .ads1 .ban1 .part2{

position: absolute;
width: 186px;
height: 364px;
left: 0px;
top: 114px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;

}

.background .ads2{

position: absolute;
width: 186px;
height: 1595px;
left: 1702px;
top: 1131px;

}

.background .ads2 .ban2{

position: absolute;
width: 186px;
height: 957px;
left: 0px;
top: -114px;
}
.background .ads2 .ban2 .part1{

position: absolute;
width: 186px;
height: 171px;
left: 0px;
top: 786px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
}
.background .ads2 .ban2 .part2{
position: absolute;
width: 186px;
height: 662px;
left: 0px;
top: 114px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;

}

.background .microcalendar{

    box-sizing: border-box;

    position: absolute;
    width: 367px;
    height: 299px;
    left: 345px;
    top: 2005px;

    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 15px 0px;

}

.background .microcalendar .component{

    position: absolute;
    width: 327px;
    height: 241px;
    left: calc(50% - 327px/2);
    top: 20px;

}

.background .forms {
    box-sizing: border-box;

    position: absolute;
    width: 397px;
    height: 446px;
    left: 1159px;
    top: 2005px;
    
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 15px 0px;
        
  }
  
  /* Email input fields and labels */
  .forms label {
    display: block;
    font-size: 18px;
    font: Instrumennt Sans;
    font-weight: 600;
    margin-bottom: 8px;
    color:#3F3F3F;
    line-height: 21.96px;

  }
  
  .forms input[type="email"],
  .forms input[type="text"] {
    width: 90%;
    padding: 12px; /* Increase padding for better spacing */
    margin-bottom: 20px; /* More vertical space */
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .forms input[type="email"]:focus,
  .forms input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
  }
  
  /* Add buttons for email and contributor email */
  .forms button {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 10px 15px; /* More padding for better spacing */
    margin-top: 12px; /* More vertical space */
    margin-left:5px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .forms button:hover {
    background-color: #218838;
  }
  
  /* List of contributor emails */
  .forms ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 50px; /* The visible height of the scrollable area */
    overflow-y: auto;  /* Enable scrolling when the list grows */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    border: 1px solid #ccc; /* Optional border for the scrollable list */
    padding-right: 15px; /* Add some right padding to prevent content from hiding behind the scrollbar */
  }
  
  .forms li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  
  .forms li span {
    margin-right: 10px;
  }
  
  
  .forms li button {
    background-color: #dc3545;
    padding: 5px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  .forms li button:hover {
    background-color: #c82333;
  }
  
  /* Submit button */
  .forms input[type="submit"],
  .forms button[type="submit"] {
    background-color: #28a745; /* Green color */
    color: white;
    padding: 15px; /* Increase padding */
    margin-top: 20px; /* More vertical space */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Bigger font size */
    width: 100%;
  }
  
  .forms input[type="submit"]:hover {
    background-color: #218838;
  }
  
  
.background .list {
    box-sizing: border-box;

    position: absolute;
    width: 367px;
    height: 446px;
    left: 752px;
    top: 2005px;

    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 0px 0px 15px 0px;

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    overflow-y:auto;
}

.background .list .title{

font-family: 'Instrument Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #3F3F3F;


}
.background .list .list_dates {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
}
.background .list .list_dates .list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border-radius: 5px;
}
.background .list .list_dates .list_item p {
    font-size: 14px;max-width: 90%;
}

@keyframes animation {
    from {
        margin-top: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
        margin-top: 3px;
    }
}

.background .ads3 {
    position: absolute;
    width: 1420px;
    height: 225px;
    left: 250px;
    top: 2550px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;

}

.background .footer{
    position: absolute;
    width: 1920px;
    height: 314px;
    left: calc(50% - 1920px/2);
    bottom: 0px;
    background: #67B32E;

}

.background .footer .logo{

    position: absolute;
    width: 219px;
    height: 33.55px;
    left: calc(50% - 219px/2 - 0.5px);
    top: calc(50% - 33.55px/2 - 0.22px);
}

.background .footer .info{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 17px;

    position: absolute;
    width: 298px;
    height: 27px;
    left: calc(50% - 298px/2);
    top: 214.5px;

}

.background .footer .info .contact{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 171px;
    height: 22px;


    flex: none;
    order: 0;
    flex-grow: 0;

}

.background .footer .info .contact .telephone{

    width: 18px;
    height: 18px;
    background: url(../../img/telicon.png);

    flex: none;
    order: 0;
    flex-grow: 0;

}

.background .footer .info .contact .number{

    width: 143px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;


    flex: none;
    order: 1;
    flex-grow: 0;

}

.background .footer .info .contact .social{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 17px;

    position: absolute;
    width: 298px;
    height: 27px;
    left: 298px;
    top: 210.5px;

}

.background .footer .info .contact .social .icons{
    width: 20.82px;
    height: 20.82px;
}

.background .footer .copyright{
position: absolute;
width: 342px;
height: 17px;
left: calc(50% - 342px/2 - 26px);
top: 272px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: rgba(255, 255, 255, 0.8);

}